 /* loop @for desplazamiento lateral columnas */

    @for $i from 0 through 5 {
        $x: $i+1;
        .caja:nth-child(#{$x}) {
          left:20vw * $i;
        }
      }

   /* loop @for animación aparecen las cajas */
  @for $i from 1 through 5{
    
      @keyframes columna#{$i}{       
      0% { transform: translate3d(0, 0, 0);}
      100% { transform: translate3d(0, 0, 0);}
    }

  }