
  /* links hojas de estilo sass */

@import "variables";
@import"mixins";
@import"estructura_for";

  /* estilo texto */

body{
    @include tipografia;
    }
    
    h1{
      @include tipografia (50px);
    
    }
    
     /* estructura cajas */
    .cajas {
      min-height: 100vh;
      text-align: center;
      overflow: hidden;

    }
    
    .caja {
      position: absolute;
      width: 20%;
      min-height: 100vh;
      overflow: hidden;
      cursor: pointer;
    }
    
  
 /* estructura cajas individuales */

    .caja:nth-child(1){
                .contenido {
                background:$columna1;
                transform: translate3d(-100%, 0, 0);
                animation-name: columna1;
                animation-delay: 0.1s;}
    }
    .caja:nth-child(2){
                
                .contenido {
                background: $columna2;
                transform: translate3d(0, 100%, 0);
                animation-name: columna2;
                animation-delay: 0.2s;}
    }
    .caja:nth-child(3){
                   .contenido{
                background: $columna3;
                transform: translate3d(0, -100%, 0);
                animation-name: columna3;
                animation-delay: 0.3s;}
    }
    .caja:nth-child(4){
                    .contenido {
                background:$columna4;
                transform: translate3d(0, 100%, 0);
                animation-name: columna4;
                animation-delay: 0.4s;}
    }
    .caja:nth-child(5){

                .contenido{
                background: $columna5;
                transform: translate3d(100%, 0, 0);
                animation-name: columna5;
                animation-delay: 0.5s;}
    }
    
    /*efecto brillo*/
    .cajas {
                .contenido {
                animation-duration: 1s;
                animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
                animation-fill-mode: both;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-decoration: none;}

                .contenido:hover:before {
                transform: skew(0deg) scale(3) translate(0, 0);
                opacity: 0.1;}
                
                .contenido:before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                opacity: 0.05;
                transform-origin: center center;
                transform: skew(30deg) scaleY(1) translate(0, 0);}
            }